.centered {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.centered h1 {
  font-family: copperplate, sans-serif;
  font-size: 60px;
  color: #333; /* Adjust color as needed */
}

.centered h4 {
  font-size: 36px;
  font-style: italic;
  color: #666; /* Adjust color as needed */
}

.centered p {
  font-size: 18px;
  color: #999; /* Adjust color as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

.centered button {
  background-color: #ff0000; /* Adjust color as needed */
  color: #fff; /* Adjust color as needed */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px; /* Adjust as needed */
}

.centered button:hover {
  background-color: #0056b3; /* Adjust color as needed */
}

.centered img {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin-top: 20px; /* Adjust as needed */
}